@tailwind base;
@tailwind components;

@layer base {
  body {
    background-color: #08070b;
  }
  @font-face {
    fontfamily: "Biotif";
    src: url("/public/fonts/Biotif-Bold.woff2") format("woff2"),
      url("/static/font/Biotif-Bold.woff") format("woff");
    fontweight: "bold";
    fontstyle: "normal";
  }
   {
    fontfamily: "Biotif";
    src: url("/public/fonts/Biotif-Book.woff2") format("woff2"),
      url("/public/fonts/Biotif-Book.woff") format("woff");
    fontweight: 500;
    fontstyle: "normal";
  }
   {
    fontfamily: "Biotif";
    src: url("/public/fonts/Biotif-Regular.woff2") format("woff2"),
      url("/public/fonts/Biotif-Regular.woff") format("woff");
    fontweight: "normal";
    fontstyle: "normal";
  }
   {
    fontfamily: "Biotif";
    src: url("/public/fonts/Biotif-RegularItalic.woff2") format("woff2"),
      url("/public/fonts/Biotif-RegularItalic.woff") format("woff");
    fontweight: "normal";
    fontstyle: "italic";
  }
   {
    fontfamily: "NeuzeitGrotesk";
    src: url("/public/fonts/NeuzeitGrotesk-Bold.woff"), format("woff"),
      url("/public/fonts/NeuzeitGrotesk-Bold.woff2") format("woff2");
    fontweight: normal;
    fontstyle: normal;
  }
   {
    fontfamily: "BebasNeue";
  }
}

@tailwind utilities;
